importFrom(rlang, .data)
export(first_digit)
export(second_digit)
export(benford_expected)
export(benford_test)
export(mad_z)
export(detect_anomalies)
export(weekly_totals)
export(stream_summary)
export(import_bills)
export(import_stream)
export(render_weekly)
export(render_report_docx)
export(run_dashboard)
S3method(print, benford_test)
